@import './modules/navbar';
@import './modules/header';
@import './modules/dropdown';
@import './modules/themes';

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

main {
  min-height: 1000px;
  padding: 2rem;
}

img {
  margin: 2em 0 0;
  height: 180px;
}
